# Úkol č. 8: Adopce zvířat
***
## 8.1 Načtení dat
– Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

In [56]:
import pandas
data = pandas.read_csv("/Users/petrakrykorkova/Documents/Programování/adopce-zvirat.csv",sep=";")
data

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1
...,...,...,...,...,...,...
508,1417,Rosnice šalamounská,,Obojživelníci,1000,1
509,1418,Létavka obecná,,Obojživelníci,1000,1
510,1419,Bažant paví,,Ptáci,1000,1
511,1420,Sojkovec rezavouchý,,Ptáci,1000,1
512,1421,Kachnice kaštanová,,Ptáci,1000,1

***
## 8.2 Seznámení s daty
Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

In [7]:
data.info

<bound method DataFrame.info of        id             nazev_cz                     nazev_en       trida_cz  \
0       7          Šváb syčivý  Madagascar giant cockroach      Bezobratlí
1       8  Pakobylka okřídlená     Pink-winged stick insect     Bezobratlí
2      16                Tayra                        Tayra          Savci
3      35        Kajmanka supí    Alligator snapping turtle          Plazi
4      37      Želva žlutočelá       Indochinese box turtle          Plazi
..    ...                  ...                          ...            ...
508  1417  Rosnice šalamounská                               Obojživelníci
509  1418       Létavka obecná                               Obojživelníci
510  1419          Bažant paví                                       Ptáci
511  1420  Sojkovec rezavouchý                                       Ptáci
512  1421   Kachnice kaštanová                                       Ptáci

     cena  k_prohlidce
0    1000            1
1    1000            1
2    5000            1
3    2000            1
4    1000            1
..    ...          ...
508  1000            1
509  1000            1
510  1000            1
511  1000            1
512  1000            1

[513 rows x 6 columns]>

In [14]:
data.shape

(513, 6)

In [15]:
data.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

***
## 8.3 Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [26]:
data.loc[34]["nazev_cz"]

'Ibis bílý'

In [25]:
data.loc[34]["nazev_en"]

'White ibis'

***
## Bonus

### Využij metody sort_values() (a libovolných dalších metod), ke zjištění následujících informací:
Adopce kterých zvířat je nejdražší?

In [46]:
sorted_descending = data.sort_values(["cena"],ascending=False).head(10)[["nazev_cz", "cena"]]
sorted_descending

                                      nazev_cz   cena
114                            Tygr sumaterský  50000
113                            Tygr ussurijský  50000
272                              Tygr malajský  50000
129                          Hroch obojživelný  50000
128                               Slon indický  50000
135  Žirafa severní núbijská (= Rothschildova)  50000
330                             Gaviál indický  30000
101                       Orangutan sumaterský  30000
115                                Lev indický  30000
102                             Gorila nížinná  30000

Které zvíře je alfabeticky poslední v češtině?

In [54]:
last_czech = data.sort_values(["nazev_cz"], ascending=False).head(1)["nazev_cz"]
last_czech

371    Žluva hajní
Name: nazev_cz, dtype: object

Které zvíře je alfabeticky poslední v angličtině?

In [55]:
last_english = data.sort_values(["nazev_en"], ascending=False).head(1)[["nazev_en", "nazev_cz"]]
last_english

                    nazev_en             nazev_cz
161  Yellow-necked francolin  Frankolín žlutokrký

***